@charset "utf-8";
/* CSS Document - G215A│g215A_Overlay.css */




/* ↓↓↓ 以下CSS實際排版 */
/*================================================================*/
html {
	/*捲軸顏色 - 僅適用IE，其他瀏覽器都不支援*/
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR:#B2BBA3;
	SCROLLBAR-SHADOW-COLOR: #B2BBA3; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #B77743;
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
}

body {
	margin:0 0 0 0;
	background-color: #282828; /*#e6e7eb*/

	font-family: Helvetica, Arial, 'LiHei Pro', "微軟正黑體", sans-serif;
	font-size: 100%;
	line-height: 1.0em; /*100%*/
	letter-spacing:0.0625em; /*1px/16px*/
}

p, ul, ol{
	margin:0 0 0 0;
}

/*●頁面最大容器*/
/*此版型視窗尺寸變動時，程式會操控.pageWrapper的寬高，塞滿視窗*/
.pageWrapper {
	/*◎居中*/
	/*margin:0 auto 0 auto;*/
	/*◎從這裡調整.mediaWrapper播放介面的《垂直方向位置》 - padding-top*/
	/*padding:0px 0px 0px 0px; */
	width:800px;
	height:600px;
	background:#553f65;
	display:block;
}

/*小尺寸視窗會用到，包裹.g215A_prevBtn、.g215A_nextBtn、.g215A_pageNum*/
.g215A_rwdNavDiv {
	display:none;
}

/*上一頁、下一頁 按鈕的容器*/
.prev_next_Btn_wrapper {
	margin:5px 10px 0 0;
	width:114px;
	height:43px;
	display: inline-block;
	background: url(images/prev_next_Btn_wrapper.png) no-repeat;
}

/*上一頁按鈕*/
.g215A_prevBtn {
	display:table-cell;
	padding:0px 0px 0px 0px;
	cursor:pointer;
	vertical-align:middle;
}
.g215A_prevBtn > img {
	width:57px;
}
/*上一頁按鈕 - 滑鼠懸浮狀態CSS，程式會來取用*/
.g215A_prevBtnOver {
	/*background:#27309C;*/
}
/*上一頁按鈕 - 滑鼠按下狀態CSS，程式會來取用*/
.g215A_prevBtnDown {
	/*background: #B07300;*/
}
/*下一頁按鈕*/
.g215A_nextBtn {
	padding:0px 0px 0px 0px;
	cursor:pointer;
	display:table-cell;
	vertical-align:middle;
}
.g215A_nextBtn > img {
	width:57px;
}
/*下一頁按鈕 - 滑鼠懸浮狀態CSS，程式會來取用*/
.g215A_nextBtnOver {
	/*background:#27309C;*/
}
/*下一頁按鈕 - 滑鼠按下狀態CSS，程式會來取用*/
.g215A_nextBtnDown {
	/*background: #B07300;*/
}


/*最上方標題列.g203_header*/
/*↓------------------------------↓*/
/*●最上方標題列 - 大容器*/
.g215A_header {
	display:table;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:800px;
	height:54px;
	text-align:center;
	background: url(images/titleBar_bg.png) 0px 0px;
	
}

/*=====================================*/
/*menu按鈕外圍容器*/
.g215A_menuBtnOuter {
	padding:0px 12px 0px 12px;
	display: table-cell;
	width:5%;
	height:auto;
	vertical-align:middle;
}
/*menu按鈕*/
.g215A_menuBtn {
	display: table-cell;
	width:auto;
	height:auto;
	vertical-align:middle;
	cursor: pointer;
}
.g215A_menuBtn > img {
	display: table-cell;
	width:40px;
	height:auto;
}
/*關閉menu的按鈕*/
.g215A_menuCloseBtn {
	display: table-cell;
	width:auto;
	height:auto;
	vertical-align:middle;
	cursor: pointer;
}
.g215A_menuCloseBtn > img {
	display: table-cell;
	width:40px;
	height:auto;
}
/*=====================================*/

/*=====================================*/
/*單元標題 - 標題容器*/
.g215A_headerStringOuter {
	display:table-cell;
	vertical-align:middle;
	padding:0px 12px 2px 3px;
	text-align:left;
	width:85%;
}
/*單元標題 - 標題字串*/
.g215A_headerString {
	padding:3px 15px 3px 15px; 
	width:100%;
	height:auto;
	/*background:#21643a;*/
	
	font-weight:500;
	font-size: 1.05em;
	line-height: 1.2em;
	letter-spacing:0.0625em;
	
	border-top-left-radius:18px; 
	border-top-right-radius:18px; 
	border-bottom-right-radius:18px;
	border-bottom-left-radius:18px;
	
	/*1050623*/
	/*background: #D0D0D0;*/
	background: #FFF;
	border: #666 1px solid;
	
	color: #222;
  	/*text-shadow: 1px 1px 1px #fff; */ 
	box-shadow: 2px 1px 2px #fff; 
	
	/*box-shadow:4px 4px 3px rgba(20%,20%,20%,0.5);
	box-shadow:2px 2px 1px rgba(20%,20%,20%,0.5) inset;
	box-shadow:2px 2px 2px rgba(20%,20%,20%,0.6),4px 4px 6px rgba(20%,20%,20%,0.4),6px 6px 12px rgba(20%,20%,20%,0.4);*/
}
/*=====================================*/

/*=====================================*/
/*.g215A_pageNum：頁碼容器*/
.g215A_pageNum {
	display:none;
	vertical-align:middle;
	width:10%;
	min-width:140px;
	height:auto;
	text-align:center;
	
	/*1050621*/
	position:absolute;
	right:0px;

}
/*.g215A_pageNumStr：頁碼字串*/
.g215A_pageNumStr {
	padding:3px 0 3px 0;
	display: inline-block;
	width:100%;
	height:auto;
	background:#cde2c5;
	
	color: #3c3b36;
	font-weight:500;
	font-size: 1.05em;
	line-height: 1.2em;
	letter-spacing:0.0625em; 
	
	border-top-left-radius:5px; 
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px;
	border-bottom-left-radius:5px;
}
/*共幾頁的CSS*/
.g215A_pageTotalStr {
	font-size: 0.8em;
	color: #3c3b36;
}
/*=====================================*/


/*顯示選單區塊*/
/*=====================================*/
/*選單區塊：最大容器*/
.g215A_menuZone {
	position:absolute;
	z-index:2010;
	left:0px;
	top:56px;
	padding:0px 0px 0px 0px;
	display:none;
	width:100%;
	height:auto;
	background:#EEE;
	
	color:#333;
	font-weight:500;
	font-size: 1.0em;
	line-height: 1.2em;
	letter-spacing:0.0625em;
	
	box-shadow:12px 8px 12px rgba(20%,20%,20%,0.3);

}
/*選單區塊：標頭*/
.g215A_menuHeader {
	margin:0 0 0 0;
	padding:2px 5px 2px 7px;
	width:100%;
	height:30px;
	border-bottom:1px solid #333;
	background: #333;
	
	font-size: 0.9em;
	color:#DDD;
	font-weight:600;
}
/*選單區塊：一個橫列*/
.g215A_menuRow {
	margin:0 0 0 0;
	padding:5px 5px 5px 10px;
	width:100%;
	height:auto;
	border-bottom:1px solid #AAA;
	cursor:pointer;
}
/*選單區塊：一個橫列的滑鼠懸浮狀態*/
.g215A_menuRow_hover{
	background: #CCC;
}
/*選單區塊：目前作用中的橫列。其內包括.g211B_menuRowOrder和.g211B_menuRowItem*/
.g215A_menuRow_current{
	background: #666;
}
/*選單區塊：一個橫列中的流水號*/
.g215A_menuRowOrder {
	margin:0 5px 0 0;
	padding:0px 6px 0px 6px;
	background:#CCC;
}
/*選單區塊：一個橫列流水號的滑鼠懸浮狀態*/
.g215A_menuRowOrder_hover {
	background:#FFF;
}
/*選單區塊：作用中橫列的流水號*/
.g215A_menuRowOrder_current {
	background:#FFF;
	color:#21643c;
}
/*選單區塊：橫列的主題文字的外圍容器*/
.g215A_menuRowItemOuter {
	width:85%;
	display:inline-block;
	
	/* 斷行 */
	white-space: normal; 
	word-wrap: break-word; 
	word-break: break-all; 
}
/*選單區塊：橫列的主題文字*/
.g215A_menuRowItem {
	padding:2px 2px 2px 2px;
}
/*選單區塊：作用中橫列的主題文字*/
.g215A_menuRowItem_current {
	color: #FFF;
	font-weight:500;
}

/*=====================================*/



/*標題列和下方內容之間的水平線*/
.g215A_horizon {
	width:100%;
	height:3px;
	background:#44345b;
	display:block;
}


/*單元標題列下方所有內容的容器*/
.g215A_content {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px; 
	width:800px;
	min-height:546px;
	height:auto;
	background: url(images/cardSet_bg.jpg) repeat-y ;
	
	display:block;
}


/*左側所有頁籤的容器*/
/*=====================================*/
.g215A_tabZone {
	margin:15px 0 0 10px;
	width:285px;
	min-height:510px;
	height:auto;
	/*background:#6d5978;*/
	
	display:inline-block;
	/*overflow-y:hidden;
	overflow-x:hidden;*/
	float:left;
}

/*頁籤*/
.g215A_tabBtn {
	margin:7px 0 0 0;
	/*必要*/
	padding:5px 10px 5px 75px;
	display: table;
	/*頁籤背景圖形*/
	background: url(images/tab_A_big.png) no-repeat;
	width:270px;
	height:81px;
	cursor: pointer;
}
/*滑鼠移到頁籤上方，程式會來取用此類別CSS*/
.g215A_tabBtn_over {
	background: #EBFFB8;
	/*頁籤背景圖形*/
	background: url(images/tab_A_big_over.png) no-repeat;
}
/*滑鼠按下某頁籤，程式會來取用此類別CSS*/
.g215A_tabBtn_keep {
	color:#FFFFFF;
	/*頁籤背景圖形*/
	background: url(images/tab_A_big_keep.png) no-repeat;
	cursor:default;
}
/*頁籤裡面的標題字串*/
.g215A_tabTitle  {
	width:auto;
	height:auto;
	display: table-cell;
	vertical-align:middle;
	/*background:#B73A3C;*/
	/*border:#FFFFFF 1px dotted;*/
	cursor: pointer;
	
	font-family: 'LiHei Pro', "微軟正黑體", sans-serif;
	font-size:1em;
	font-weight:600;
	line-height:1.1em;
	
	/*避免播放介面物件被選取反白*/
	-moz-user-select: none;
    -webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	/* 斷行 */
	white-space: normal; 
	word-wrap: break-word; 
	word-break: break-all;
	
}
/*滑鼠移到頁籤裡面的標題字串上方，程式會來取用此類別CSS*/
.g215A_tabTitle_over {
}
/*滑鼠按下頁籤裡面的標題字串，程式會來取用此類別CSS*/
.g215A_tabTitle_keep {
	cursor:default;
	font-weight:500;
}
/*=====================================*/



/*=====================================*/
/*●所有.g215A_card的容器*/
.g215A_cardSet {
	margin:20px 0px 0px 0px;
	width:489px;
	height:457px;
	display: inline-block;
	
	border-top-left-radius:12px; 
	border-top-right-radius:12px; 
	/*border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;*/
	
}
/*各頁資料*/
.g215A_card {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:489px;
	height:457px;
	display:inline-block;
}
/*=====================================*/



/*圖文區塊*/
/*↓------------------------------↓*/
/*圖文區塊 - 容器外層*/
.textPhoto {
	
	/*●必要：clear:both
		因IE進平台，渲染(解譯成像)引擎被降低版本，在大尺寸喊和小尺寸視窗之間切換，會產生瑕疵
		但做此處理後，所有IE版本可能會出現1px縫隙，露出底色 (.mediaWrapper和.textPhoto之間)
		所以必須把.pageWrapper的背景色設為#FFF白色，以與播放介面之白色相符，視覺上就不會有縫隙*/
	/*==========================*/
	clear:both;
	/*==========================*/
	
	display:block;
	margin:0 auto 0px auto;
	padding:0px 0px 0px 0px;
	width:100%;
	height:400px;
	/*border: solid #CFCFCF 1px;*/
	background:transparent;
	
	
	/*圓角*/
	border-top-left-radius:0px; 
	border-top-right-radius:0px;
	border-bottom-left-radius:12px; 
	border-bottom-right-radius:12px; 
	
	box-shadow:6px 6px 12px rgba(20%,20%,20%,0.4);
}
/*圖文區塊 - 容器內層*/
.textPhoto .inner {
	display:block;
	margin:0 0 0 0;
	padding:20px 36px 36px 36px;
	
	background:#EEE;
	opacity:1.0;
	
	width:100%;
	height:100%;
	border-top: solid #CFCFCF 1px;
	overflow:auto;
	
	/*圓角*/
	border-top-left-radius:0px; 
	border-top-right-radius:0px;
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px; 
	
	/*捲軸顏色 - 僅適用IE，其他瀏覽器都不支援*/
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR:#B2BBA3;
	SCROLLBAR-SHADOW-COLOR: #B2BBA3; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #B77743;
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
}

/*圖文區塊 - 容器內層裡面的標題*/
.textPhoto .inner .title {
	display: inline-block;
	margin:0px 0 8px 0;
	padding:0px 0px 0px 0px;
	width:100%;
	height:auto;
	float:left;
	
	color:#000;
	font-size: 1.4em;
	font-weight:400;
	line-height: 1.3em;
	text-indent:0.0em;
	text-align:center;
	
	text-shadow: 2px 2px 2px #CCC;
	-moz-text-shadow: 2px 2px 2px #CCC;
	-webkit-text-shadow: 2px 2px 2px #CCC;
}

/*圖文區塊 - 容器內層裡面的內文*/
.textPhoto .inner .text {
	width:100%;
	height:auto;

	color:#000;
	font-size: 1.0em;
	font-weight:300;
	line-height: 1.6em;
	letter-spacing:0.0625em;
	/**/
	text-indent:2.1em;
	
	/*◎若有動態縮放文字區塊，務必加入word-wrap:break-word這行在上方，否則IE10可能會當掉*/
	word-wrap: break-word;
	text-align:justify;
	text-justify:inter-ideograph;
}

/*↑------------------------------↑*/




/*↓↓↓--------「點小圖跳大圖功能」--------↓↓↓*/

/*有「點小圖跳大圖」功能<img>的外圍容器的class*/
.toBigPic {
}
/*有「點小圖跳大圖」功能<img>*/
.toBigPic > img {
	border:1px #82CAFD solid;
}

/*無跳圖之小圖*/
.normalPic > img {
	border:1px #ADA2A2 solid;
}

/*↑↑↑--------「點小圖跳大圖功能」--------↑↑↑*/



/*↓↓↓--------「名詞解釋：glossary」--------↓↓↓*/

/*解釋內容面板區塊裡面的文字說明內容*/
.glossary_content {
}
.glossary_content p {
	margin:0 0 3px 0;
}

/*↑↑↑--------「名詞解釋：glossary」--------↑↑↑*/




/*↓↓↓↓↓↓ 媒體播放介面 ↓↓↓↓↓↓*/
/*包裹 .mediaHeader、.mediaDiv、.playbackDiv ...等之外圍容器*/
.mediaWrapper {
	/*◎居中*/
	margin:0 auto 0 auto;

	/*◎從這裡調整.mediaWrapper播放介面的《水平方向位置》*/
	/*margin:0px 0px 0px 0px;*/
	/*==================*/
	/*1050701 - ●width:auto，不要設為固定數值。否則iPad換頁過渡時，mediaHeader寬度會先變大(原設為640px)，再縮小。*/
	width:auto; 
	height:auto;
	display: block;
	background:transparent;
	
	/**/
	box-shadow:6px 6px 12px rgba(20%,20%,20%,0.4);
	
	/*圓角*/
	border-top-left-radius:12px; 
	border-top-right-radius:12px;
	border-bottom-left-radius:0px; 
	border-bottom-right-radius:0px; 
}

/*影音媒體-容器 - 包裝 媒體物件 和 .playbackDiv*/
.mediaDiv {
	width:640px; 
	height:auto;
	background:transparent;
}

/*標題列*/
/*========================================*/
/*媒體標題列-容器*/
.mediaHeader {
	background:#FFF;
	border-top:1px solid #DDD;
	
	border-top-left-radius:12px; 
	border-top-right-radius:12px; 
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
}
/*標題列-icon-容器*/
.icon {
	width:auto;
	height:38px;
	display: table-cell;
	padding:0 10px 0 23px; 
	vertical-align: middle;
}
/*標題列-icon-圖形*/
.icon img {
	width:45px; 
	height:auto;
	vertical-align: middle;
}
/*標題列-字串-容器*/
.mediaHeaderString {
	/*與.buttons共用100%，可因應狀況為調%*/
	width:82%;
	height:auto;
	display: table-cell;
	padding:0 0 0 0;
	vertical-align:middle;

	font-family: 'LiHei Pro', "微軟正黑體", sans-serif;
	font-size:1em;
	font-weight:600;
	color: #707070;
}
/*標題列右側.notebook和.help的容器*/
.buttons {
	/*與.mediaHeaderString共用100%，可因應狀況微調%*/
	width:18%;
	height:auto;
	display: table-cell;
	vertical-align:middle;
}
/*新手上路按鈕*/
.help {
	display: table-cell;
	margin:-1px 27px 0 0; /*原margin:-1px 12px 0 0*/
	float:right;
}
.help img {
	width:24px; 
	cursor: pointer;
	vertical-align: middle;
}
/*◎旭聯平台/課程「筆記本」(原名：個人筆記)*/
.notebook {
	display: table-cell;
	margin:0 12px 0 0; 
	float:right;
}
.notebook img {
	width:25px; 
	cursor:pointer;
	vertical-align: middle;
}
/*========================================*/


/*播放界面UI - 右邊界*/
.pbRight {
	margin:3px 0 0 0px; /*原margin:3px 0 0 10px*/
}
.barOuter_2 {
}

/*↑↑↑↑↑↑ 媒體播放介面 ↑↑↑↑↑↑*/




/* ↓-------- Chrome、Opera等Webkit內核瀏覽器設定捲軸顏色 --------↓ */
/* 捲軸底色 */
::-webkit-scrollbar { 
	background-color:#FFF;
}
/* 捲軸上方的箭頭 */
::-webkit-scrollbar-button:vertical:decrement { 
	background: url(../tPlayer_CSS/images/arrow_up.png) center center no-repeat ;
}
/* 捲軸下方的箭頭 */
::-webkit-scrollbar-button:vertical:increment {
	background: url(../tPlayer_CSS/images/arrow_down.png) center center no-repeat ;
}
/* 捲軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb{
	background-color:#FFF;
} 
/* 捲軸拉的垂直軸軌設成圓角及顏色 */
::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color:#FFF;
	border-radius: 3px;
	border:1px #B2BBA3 solid;
}
/* 捲軸拉的橫向軸軌設成圓角及顏色 */
::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color:#FFF;
	border-radius: 3px; 
	border:1px #B2BBA3 solid;
}
/*滾動軸上下左右的最上端角*/
::-webkit-scrollbar-corner{
	background-color: #FFF;
} 
/* ↑-------- Chrome、Opera等Webkit內瀏覽器設定捲軸顏色 --------↑ */






/*--------RWD：小尺寸視窗css--------*/
/*------------------------------------------------*/
/*externalData.js的[param.breakpoint]所設的斷點數值 必須和這裏一致。*/
@media screen and (max-width:769px) {
	
	.pageWrapper {
		width:100%; /*原width:800px*/
		height:auto; /*原height:600px*/
	}
	
	/*最上方單元標題列*/
	.g215A_header {
		width:100%; /*原width:800px*/
	}
	
	/*menu按鈕*/
	.g215A_menuBtn {
	}
	.g215A_menuBtn > img {
	}
	
	/*單元標題 - 標題容器*/
	.g215A_headerStringOuter {
		padding:3px 5px 3px 5px; /*原padding:0px 12px 2px 3px*/
	}
	
	/*單元標題 - 標題字串*/
	.g215A_headerString {
		padding:3px 15px 3px 0px; /*原padding:3px 15px 3px 15px*/
		/*原font-size:1.05em*/
		font-size:1.0em; 
		background:transparent; /*原background: #FFF*/
		border: none; /*原border: #666 1px solid*/
		box-shadow: none; /*原box-shadow: 2px 1px 2px #fff*/
		
		border-top-left-radius:0px;  /*原border-top-left-radius:18px*/
		border-top-right-radius:0px;  /*原border-top-right-radius:18px*/
		border-bottom-right-radius:0px; /*原border-bottom-right-radius:18px*/
		border-bottom-left-radius:0px; /*原border-bottom-left-radius:18px*/
	}
	
	/*小尺寸視窗會用到，包裹.g215A_prevBtn、.g215A_nextBtn、.g215A_pageNum*/
	.g215A_rwdNavDiv {
		display:table; /*原display:none;*/
		width:100%; /*原無width*/
		background:#e3e3e3; /*原無background*/
		/*必要*/
		text-align:center; /*原無text-align*/
	}
	
	/*上一頁、下一頁 按鈕的容器*/
	.prev_next_Btn_wrapper {
		display:none; /*原display: inline-block*/
	}
	
	/*上一頁按鈕*/
	.g215A_prevBtn {
		display: inline-block; /*原display:table-cell*/
		float:left; /*原無float*/
		/**/
		width:15%; /*原無width*/
		min-width:10%; /*原無min-width*/
		
	}
	.g215A_prevBtn > img {
	}
	
	/*下一頁按鈕*/
	.g215A_nextBtn {
		display: inline-block; /*原display:table-cell*/
		float:right; /*原無float*/
		/**/
		width:15%; /*原無width*/
		min-width:10%; /*原無min-width*/
	}
	.g215A_nextBtn > img {
	}
	
	/*.g215A_pageNum：頁碼容器*/
	.g215A_pageNum {
		display:table; /*原display:none*/
		margin:0 auto 0 auto; /*原無margin*/
		float: left; /*原無float*/
		position:static; /*原position:absolute*/
		/**/
		max-width:80%; /*原無max-width*/
		width:70%; /*原width:10%*/
		height:42px;/*原height:auto*/
	}
	/*.g215A_pageNumStr：頁碼字串*/
	.g215A_pageNumStr {
		display: table-cell; /*原display: inline-block*/
		height:100%; /*原height:auto*/
		vertical-align:middle; /*原無vertical-align:middle*/
		background:#553f65; /*原background:#cde2c5*/
		color:#FFF; /*原color: #3c3b36*/
		
		border-top-left-radius:3px; /*原border-top-left-radius:5px*/
		border-top-right-radius:3px; /*原border-top-right-radius:0px*/
		border-bottom-right-radius:3px; /*原border-bottom-right-radius:0px*/
		border-bottom-left-radius:3px; /*原border-bottom-left-radius:5px*/
	}
	/*共幾頁的CSS*/
	.g215A_pageTotalStr {
		color:#AAA; /*原color: #3c3b36*/
	}
	
	
	/*標題列和下方內容之間的水平線*/
	.g215A_horizon {
		height:0px; /*原height:3px*/
	}
	/*單元標題列下方所有內容的容器*/
	.g215A_content {
		width:100%; /*原width:800px*/
	}
	/*左側所有頁籤的容器*/
	.g215A_tabZone {
		display:none; /*原display:inline-block*/
	}
	/*所有.g215A_card的容器*/
	.g215A_cardSet {
		margin:0px 0px 0px 0px; /*原margin:20px 0px 0px 0px*/
		width:100%; /*原width:489px*/
		height:auto; /*原height:457px*/
	}
	.g215A_card {
		width:100%; /*原width:489px*/
		height:auto; /*原height:457px*/
	}
	
	
	
	/*媒體檔標題列*/
	/*========================================*/
	/*媒體檔標題列-容器*/
	.mediaHeader {
		/*取消圓角*/
		border-top-left-radius:0; /*原border-top-left-radius:12px*/
		border-top-right-radius:0; /*原border-top-right-radius:12px*/
	}
	/*標題列-icon-容器*/
	.icon {
	}
	/*標題列-字串-容器*/
	.mediaHeaderString {
		width:100%; /*原本與.buttons共用100%，為82%*/
	}
	/*標題列右側.notebook和.help的容器*/
	.buttons {
		/*原本與.mediaHeaderString共用100%，為18%*/
	}
	/*新手上路按鈕*/
	.help {
		display: none; /*原本為display: table-cell;*/
	}
	/*◎旭聯平台/課程「筆記本」(原名：個人筆記)*/
	.notebook {
		display: none; /*原本為display: table-cell;*/
	}
	/*========================================*/
	
	
	
	/*圖文區塊*/
	/*↓------------------------------↓*/
	/*圖文區塊 - 容器外層*/
	.textPhoto {
		height:auto; /*原height:400px*/
	}
	/*圖文區塊 - 容器內層*/
	.textPhoto .inner {
		padding:20px 30px 36px 30px; /*原padding:20px 36px 36px 36px;*/
	}
	/*圖文區塊 - 內層裡面的標題*/
	.textPhoto .inner .title {
	}
	/*圖文區塊 - 內層裡面的文字、圖形*/
	.textPhoto .inner .text {
		line-height: 1.7em; /*原line-height: 1.6em;*/
	}
	/*↑------------------------------↑*/
	
	
	/* 放大鏡圖示的容器 (圖形具備放大功能時，自動附加放大鏡圖示)，小尺寸視窗因無法定位，所以需隱藏*/
	/*↓------------------------------↓*/
	.zoomIconSpan {
		display:none; /*原在tPlayer.css - display:block*/
	}
	/*↑------------------------------↑*/
	
	
	/*「文字大小切換」*/
	/*↓------------------------------↓*/
	.fontSizeSwitcher {
		background: none; /*原在tPlayer.css - background:url(images/fontSizeSwitcherBg.png) no-repeat;*/
	}
	/*↑------------------------------↑*/
	
	
	/*▲☆★ 「點小圖跳大圖」、「無點小圖跳大圖」*/
	/*↓------------------------------↓*/
	/*▲☆★ - 「點小圖跳大圖」、「無點小圖跳大圖」 的容器div 
	--- 已由程式根據externalData.js的param.rwdSmallWindowImgPercent操控寬度，高度自動比例*/
	/*.toBigPic, normalPic {
	}*/
	
	/*▲☆★ - 已在程式中設為100%*/
	/*「.toBigPic > img」小圖本身寬度設為100%，則寬度由「.toBigPic」的寬度來決定*/
	/*.toBigPic > img {
	}*/
	
	/*▲☆★ - 已在程式中設為100%*/
	/*==============================================================*/
	/*.normalPic > img {
	}*/
	/*==============================================================*/
	
	
	
	
	
}
	
	
	

